root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_size = 4
# Code style preference
csharp_style_expression_bodied_constructors = true
csharp_style_expression_bodied_methods = true
csharp_style_namespace_declarations = file_scoped
csharp_style_var_elsewhere = true
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true
# Code style analysis rules
dotnet_analyzer_diagnostic.category-Style.severity = warning

[*.sln]
charset = utf-8-bom
end_of_line = crlf
indent_style = tab
