root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_size = 4
# Compiler warnings
dotnet_diagnostic.CS1591.severity = none # Missing XML comment for publicly visible type or member

[*.sln]
charset = utf-8-bom
end_of_line = crlf
indent_style = tab
